DATABASE_URL="mongodb+srv://<db_username>:<db_password>@ocms.u0gxigz.mongodb.net/ocms?retryWrites=true&w=majority&appName=ocms"
JWT_SECRET="your-access-token-secret"
JWT_REFRESH_SECRET="your-refresh-token-secret"
PORT=4000
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
